
    <div class="intro_content">
        <div class="intro_describe">
            <div class="intro_describe-title">
                <p class="font-1-xl cor-1">Hi, I am {{ nameProfile }}</p>
                <h1 class="font-1-xxl cor-1"><strong>Front End</strong> Developer<br> & <strong>UI/ Designer</strong>.</h1>
                <img src="assets/photos/Ellipse.svg" alt="">
            </div>
            <div class="welcome">
                <p class="font-2-xxl cor-1">Welcome to my page!</p>
                <app-modal></app-modal>  
                <a href="https://docs.google.com/uc?export=download&id=1Cgy5vhgjIHC38vrHUOz1tmtTheqlUcYe">
                    <img src="{{ iconCurriculo }}" id="curriculum" alt="">
                    <p class="font-2-xl cor-2">Curriculum</p>
                </a>
            </div>
        </div>
        <div class="photo">
            <img src="{{ photoProfile }}" alt="">
        </div>
    </div>
